.navbar .navbar-brand{
    color: #e50914;
    font-weight: bold;
}
.navbar-nav .nav-item .nav-link{
    color:#e50914;
    
}
.navbar-brand {
    font-size: 2rem;
    /* Adjust this value to make "SurfFlix" bigger (e.g., 2rem, 2.5rem, 32px, etc.) */
    font-weight: bold;
    /* Optional: Make it bold for emphasis */
}